body {
  background-color: aqua;
}
input[type="submit"] {
  background-color: azure;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
}
select {
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
}
